:root {
    --dark: #374151;
}


*{
    box-sizing: border-box;
    margin: 0;
    font-family: monospace;
}




h1{
    
    text-align: center;
    margin: 20px;
    font-weight: 300;
    
}

h2{
  
    text-align: center;
    margin-bottom: 20px;
    display: inline;
   

}
body{
    display: flex;
    flex-direction: column;
    background: var(--dark);
    color: white;
}

.container{
    background-color: black;
    height: 100%;
    width: 300px;
    align-items: center;
    position: relative;
    left: 40%;
    align-items: center;
    text-align: center;
    box-shadow: 10px 10px rgb(54, 54, 54);
    padding: 10px;
    border-radius: 10%;
    color: white;
    
}

#new-contact-input, #contact-phone-input{
    margin: 20px;
    border-radius: 5%;
    height: 20px;
    border: none;
    margin-top: 30px;
    padding: 1rem;
    font-size: 1.25rem;

    
}

button{
    border-radius: 15%;
    border: none;
    width: 50px;
    height: 20px;
    background-color: white;
    appearance: none;
    outline: none;
    padding: 3px;
    margin: 10px;
    
}

.contact-list {
    display: flex;
    width: 350px;
    height: 100%;
    background-color: black;
    position: relative;
    left: 40%;
    margin: 30px;
    padding: 50px;
    border-radius: 10%;
    border: 40px black;
    
    
}





#form-messages {
    color: red;

}
