:root {
    --dark: #374151;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

h1{
    position: relative;
    left: 42%;
    margin: 20px;
    font-weight: 300;    
}

h2{
  margin-bottom: 40px;
    text-align: center;
}
body{
  min-height: 100vh;
   
    background: var(--dark);
    color: white;
    background-size: cover;
  
}

main{
  width: 100%; 
  place-content: center;
  margin: 0;
}
.container, .contact-list{
    position: relative;
   left: 40%;
    align-content: center;
    justify-content: center;   
}


.child{
  background: linear-gradient(black, gray 0%, transparent 100%);
    height: 100%;
    width: 300px;
    align-items: center;
    
    text-align: center;
    box-shadow: 10px 10px rgb(41, 39, 39);
    padding: 10px;
    border-radius: 10%;
    color: white;
    margin-bottom: 40px;
}


 .contact-list {
    margin-top: 30px;
    width: 300px;
    max-height: 100%;
    background: linear-gradient(black, gray 0%, transparent 100%);
    padding: 40px;
    border-radius: 10%;
    border: 40px black;
    align-items: center;
    text-align: center;
    align-content: center;
    box-shadow: 10px 10px rgb(41, 39, 39);   
} 
#new-contact-input, #contact-phone-input{
    margin: 20px;
    border-radius: 25px;
    height: 50px;
    border: none;
    margin-top: 30px;
    padding: 1rem;
    font-size: 1.25rem;
    

    
}

button, .button{
    border-radius: 15px;
    border: white;
    width: 60px;
    height: 40px;
    background-color: rgb(46, 45, 45);
    color:white;
    appearance: none;
    outline: none;
    margin: 10px;
    cursor: pointer;
}

.text{
    margin: 10px;
    border-radius: 25px;
    padding: 0.5rem;
}

input[type="text"]::placeholder {
    text-align: center;
    border-radius: 25px;
    
   
  }

  input[type="number"]::placeholder {
    text-align: center;
    
   
  }  
  
 
  input:invalid {
    border: rgb(128, 0, 0) solid 3px;
  }
  
  .hidden {
    visibility: hidden;
  }

  .visible {
    visibility: visible;
  }

#form-messages  {
    color: red;

}
#phoneErrorMessage {
    color: purple;
}


